* {
	margin:0px;
	padding-bottom:20px
}

.body {	
	min-width:279px;
}

.titulo {
	margin:40px 0px 0px 0px;
	text-align:center;
}

.texto1 {
	padding: 0px 30px;
	text-align:justify;
}

.texto2 {
	padding: 0px 60px;
	text-align:justify;
}

.test1 {
	float:left
	
}

.test_color1 {
	background:#00bcd4; height: 25%; width: 100%
}

.test_color2 {
	background:#ffeb3b; height: 25%; width: 100%
}

.test_color3 {
	background:orange; height: 25%; width: 100%
}

.test_color4 {
	background:red; height: 25%; width: 100%
}